// fonts
.fp {font-family: 'Source Sans Pro',sans-serif;} // font primary
.fh {font-family: 'Klavika',sans-serif;} // font header
.fi {font-family: 'hvm-icons',sans-serif;} // font icon

// body
@bb: #c2ae9e; // body background

// colors
@green: #003a13;
@yellow: #e3b800;
@gold: #c78c00;
@cp: #000000; // color primary
@cl: @green; // color link

// font sizes
@fsp: 17px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1160px;
@content-padding: 0;