body {
	//width: @content-width;
}
#page-header {
	position: relative;
	z-index: 99;
	padding: 0 0 18px;
	background: @yellow;
	&:before{
		.border-radius(50%);
		content: '';
		position: absolute;
		left: 50%;
		bottom: -8px;
		width: 200px;
		height: 200px;
		margin-left: -100px;
		background: @yellow;
	}
	.inner {
		position: relative;
		padding: 24px 0 12px;
		background: @green;
		&:before{
			.border-radius(50%);
			content: '';
			position: absolute;
			left: 50%;
			bottom: -20px;
			width: 200px;
			height: 200px;
			margin-left: -100px;
			background: @green;
		}
	}
	.slogan {
		float: left;
		width: 33.3333%;
		padding: 52px 0 0;
		color: #c8d6c8;
		font-style: italic;
		font-size: 15px;
		line-height: 1.2;
	}
	.logo {
		position: relative;
		text-align: center;
		float: left;
		width: 33.3333%;
		a {
			display: inline-block;
			text-indent: -9999px;
			width: 232px;
			height: 100px;
			background: url(../images/logo/01.png) no-repeat;
		}
	}
}
#home-content {
	.box-shadow(0 0 6px fade(#000,30%));
	.clearfix;
	position: relative;
	z-index: 1;
	margin: 40px 0 0;
	padding: 40px 40px 34px;
	background: #f4f2e9 url(../images/bg/02.png) top;
}
#col-promo {
	.box-shadow(0 0 6px fade(#000,30%));
	padding: 27px 0 25px;
	background: @yellow;
}
#col-bottom {
	padding: 44px 0;
	background: @green;
}
#page-footer {
	padding: 24px 0;
	background: #fff;
	.copy {
		margin: 10px 0 0;
		font-size: 14px;
		p {
			margin: 0 0 10px;
		}
	}
	.xart {
		font-size: 12px;
		text-transform: uppercase;
		a {
			text-decoration: none;
			color: @cp;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: left;
			margin: 0 8px 0 0;
		}
	}
}
#wrapper {
	.box-shadow(0 0 6px fade(#000,30%));
	.clearfix;
	padding: 40px;
	margin: 46px 0;
	background: #fff;
}
#col-main {
	width: 73.149%;
	float: right;
}
#col-left {
	float: left;
	width: 22.223%;
}
#gotop{
	a{
		.transition(0.2s);
		.border-radius(50%);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e80c';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}