.rul{
	margin: 0;
	padding: 0;
}
.rli{
	margin: 0;
	padding: 0;
	background: none;
	&:before{
		content: '';
	}
}
.rin{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: none;
}
.input_format {
	.rin;
	.transition(0.2s);
	position: relative;
	font-size: @fsp;
	border: 1px solid transparent;
	margin: 0 3px 5px 0;
	width: 198px;
	height: 30px;
	padding: 0 10px;
	color: @cp;
	background: #f7eab2;
	outline: 0;
	max-width: 100%;
	&:hover,&:focus{
		border-color: @yellow;
	}
}