@font-face {
    font-family: 'Klavika';
    src: url('klavikach-medium-webfont.eot');
    src: url('klavikach-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('klavikach-medium-webfont.woff2') format('woff2'),
         url('klavikach-medium-webfont.woff') format('woff'),
         url('klavikach-medium-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'Klavika';
    src: url('klavikach-regular-webfont.eot');
    src: url('klavikach-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('klavikach-regular-webfont.woff2') format('woff2'),
         url('klavikach-regular-webfont.woff') format('woff'),
         url('klavikach-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Klavika';
    src: url('klavikach-bold-webfont.eot');
    src: url('klavikach-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('klavikach-bold-webfont.woff2') format('woff2'),
         url('klavikach-bold-webfont.woff') format('woff'),
         url('klavikach-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}