
.icon-star:before { content: '\e800'; } /* '' */
.icon-coffee:before { content: '\e801'; } /* '' */
.icon-book:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-ok-squared:before { content: '\e804'; } /* '' */
.icon-location:before { content: '\e805'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-tags:before { content: '\e807'; } /* '' */
.icon-camera:before { content: '\e808'; } /* '' */
.icon-down-fat:before { content: '\e809'; } /* '' */
.icon-left-fat:before { content: '\e80a'; } /* '' */
.icon-right-fat:before { content: '\e80b'; } /* '' */
.icon-up-fat:before { content: '\e80c'; } /* '' */